.fact {
	$parent: &;

	margin: 0;
	padding: 0;

	&__stat {
		white-space: nowrap;
		font-size: 150%;
		line-height: 1.2;
		display: block;
		font-family: var(--heading-font);
	}

	&__value {
		font-size: 200%;
	}

	//
	text-align: center;

	/*

	display:flex;
	align-items: center;

	&__stat{
		margin-right:var(--space-md);
	}
	*/
}
